*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pretimer_container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}



/*/*............... timer_main_container components styling /*...............*/







